.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid black;
}
.logo {
  height: 100px;
}
.nav-list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-list ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}
/* .search {
  padding: 20px;
} */
.res-card {
  width: 200px;

  margin: 2px;
  padding: 5px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.res-logo {
  width: 100%;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  height: 400px;
  width: 200px;
  overflow: hidden;

  background: #0f0f0f0f;
  margin: 5px;
}

.shimmer-image {
  width: 180px;
  height: 200px;
  background: #e0e0e0;
  overflow: hidden;
  border-radius: 4px;
  margin: 10px;
}
.shimmer-text-container {
  padding: 0 12px;
}
.shimmer-text {
  height: 16px;
  width: 100%;
  background: #e0e0e0;
  margin: 8px 0;
  border-radius: 4px;
  animation: shimmer 1.5s infinite linear;
}

.login {
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 7px 0px;
}

.user-name{
  border: solid black 1px;
  padding: 10px;
}